{# templates/home.html.twig #}
{% extends "layout.html.twig" %}
{% block body %}
    <div class="jumbotron text-center">
      <h1>Bar Manager</h1>
      <p>
      {{ include('home/btnOptions.html.twig') }}
      </p>
    </div>
   <div class="container-fluid">
    <div class="row content">
      <div class="col-sm-8">
        {{ include('flash.html.twig') }}
        <div class="row">
        {{ render(controller("App\\Controller\\ProductController::displayProduct")) }}
        </div>
      </div>
    <div class="col-sm-4 text-center sidecart ">
    <div>
        <h2>Order</h2>
      </div>
      <div>
        {{ render(controller("App\\Controller\\CommandController::displayCurrentCommand")) }}
      </div>
        {{ render(controller('App\\Controller\\CommandController::saveCommand')) }}
        {% for message in app.flashes('info') %}
            <div class="alert alert-primary">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    </div>
  </div>
{% endblock %}
